
<web-app>
   <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
        </filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>utf-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/applicationContext*.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
	    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
	</listener>
    <servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.HiddenHttpMethodFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HiddenHttpMethodFilter</filter-name>
		<servlet-name>dispatcher</servlet-name>
	</filter-mapping>
	<filter>
	    <filter-name>shiroFilter</filter-name>
	    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	    <init-param>
	        <param-name>targetFilterLifecycle</param-name>
	        <param-value>true</param-value>
	    </init-param>
	</filter>
	<filter-mapping>
	    <filter-name>shiroFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
	    <filter-name>casCallBackFilter</filter-name>
	    <filter-class>com.zhm.sso.interceptor.CasCallBackFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>casCallBackFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
  <display-name>Archetype Created Web Application</display-name>
  <error-page>
		<error-code>401</error-code>
		<location>/error1</location>
	</error-page>
	<error-page>
		<error-code>403</error-code>
		<location>/error1</location>
	</error-page>

	<error-page>
		<error-code>404</error-code>
		<location>/error1</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/error1</location>
	</error-page>
	<session-config>  
	    <session-timeout>120</session-timeout>  
	</session-config> 
</web-app>
